beautifulsoup4==4.12.3
forex_python==1.8
geopandas==0.14.4
keyboard==0.13.5
matplotlib==3.7.2
numpy==1.25.2
pandas==2.2.2
plotly==5.22.0
pycountry==23.12.11
pytest==8.1.1
Requests==2.31.0
scrapingbee==2.0.1
streamlit==1.33.0
translate==3.6.1
